@font-face {
    font-family: "LitteraTextLight";
    src: url("~@/assets/fonts/LitteraTextLight.ttf") format("truetype");
}
@font-face {
    font-family: "LilitaOne-Regular";
    src: url("~@/assets/fonts/LilitaOne-Regular.ttf") format("truetype");
}
